<ion-view view-title="Create Comment">
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create Comment</h1>
    <div class="buttons">
      <button class="button button-light" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="doComment()">
      <div class="list">
        <label class="item item-input">
        <span class="input-label">Comment:</span>
        <textarea rows="4" cols="50" ng-model="comment.comment"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create Comment</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
</ion-view>