<ion-view view-title="Where 2 Meet">
  <ion-content>
    <h1 style="text-align:center;">Where 2 Meet</h1>
    <p>Welcome message for the Where 2 Meet app. It is also explains what the app is all about.</p>
    <br/>
    <br/>
    <img src="img/WhereToMeetlogo.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    <!--
    <br/>
    <br/>
    <br/>
    <a href="#/app/createEvent" class="button button-full button-positive">
      Create Meet Up
    </a>
    <a href="#/app/listEvent"  class="button button-full button-positive">
      Meet Up Requests
    </a>
    
    <a href="#/app/listRSVP" class="button button-full button-positive">
      Meet Up RSVPs
    </a>
    -->
    <!--
    <div class="card">
        <div class="item item-divider">
            Our Lipsmacking Culinary Creations
            <span class="badge badge-assertive">{{dish.label}}</span>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{baseURL+dish.image}}" alt="Uthappizza">
            <h2>{{dish.name}} {{event.title}}
             <span class="badge">{{dish.price | currency}}</span></h2>
            <p>{{dish.description}}</p>
        </div>
    </div>
    <div class="card">
          <div class="item item-divider">
            This Month's Promotions
            <span class="badge badge-assertive">{{promotion.label}}</span>
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="{{baseURL+promotion.image}}" alt="{{promotion.name}}">
                <h2>{{promotion.name}}
                 <span class="badge">{{promotion.price | currency}}</span></h2>
                <p>{{promotion.description}}</p>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">
            Meet our Culinary Specialists
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="{{baseURL+leader.image}}" alt="{{leader.name}}">
                <h2>{{leader.name}}</h2>
                <h4>{{leader.designation}}</h4>
                <p>{{leader.description}}</p>
          </div>
      </div>
      -->
  </ion-content>
</ion-view>
